body{
    background-image: url(./imagenes/fondo1.jpg);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: 100vw 100vh ;
}

.titulo{
    font-family: sans-serif;
    font-size: 35px;
    text-align: center;
    padding-top: 10px;
}

.subtitulo{
    font-family: sans-serif;
    font-size: 23px;
    text-align: center;
    font-weight: bolder;
}

.pregunta{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.respuesta{
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
    margin: 15px;
}

.negrita{
    text-decoration: underline;
}

.futer{
    display: block;
    background-color: black;
    color: white;
    padding: 12px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
}